.DS-Store
.DS_Store
.nyc_output
.idea/
.vscode/
.history/
.husky
*.log
coverage/
dist/
junit.xml
clover.xml
coverage-final.json
coverage.unit/
lcov-report/
lcov.info
node_modules/
test-results.xml
.eslintcache
wallaby.js

*.fpr

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
junit.xml
